<div style="text-align:center; margin-top: 100px; "><div style="margin-top:10px; width: 50%;">  
  <div>  
      <ul>  
          <li >  
            
              <span id="file-label">  
                    
              </span>  
          </li>  
      </ul>  
  </div>  
  <div>  
      <button mat-button color="warn" (click)="onClick()">  
          <div>file_upload</div>  
          Upload  
      </button>  
  </div>  
</div><input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" /></div>