/* 
.profile-img{
   align-content: center;
   align-items: center;
}

.sm{
   width:150px;
   height: 170px;
}

.con{
   padding-left: 30px;
}

label{
   font-weight: bold;
  color: #343a40;
}


.im-card{
   box-shadow: 4px 4px 1px #d41e31;
}

.hr{
   height: 10px;
   color: #d41e31;
   background-color: #343a40;
}
.colpad{
   padding-left: 0px;
   padding-right: 0px;

}

.container{
   margin-bottom: 20px;
}

@media(max-width:420px){
   
   .sm{
      width:90px;
      height: 100px;
   }
   .con{
      padding-left: 10px;
   }
} */


.card-header{
   background-image: url('https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_960_720.jpg') !important;
   padding: 0 !important;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 150px;
   position: relative;
   display: flex;
   justify-content: center;
text-align:center;
padding-top: 120px;
}
.card{
margin: 0;
   /* overflow: hidden; */
   border:0 !important;
   /* width: 300px; */
   box-shadow: 0px 0px 15px 1px;
   -webkit-box-shadow:0px 0px 15px 1px;
}
.profile_pic{
   position: absolute;
   bottom: -50px;
   height: 212px;
   width: 212px;
   padding: 5px;
   border: 2px solid #f39c12;
   border-radius: 50%;
}
.card-body{
   padding-top: 55px !important;
}
.profile_pic img{
   height: 200px;
   width: 200px;
   border-radius: 50%;
}
.name_container{
   display: flex;
   justify-content: center;

}
.name{
   font-size: 20px;
   font-weight: 700;
   color: gray;
   position: relative;
}
.name::after{
   font-family: "Font Awesome 5 Free";
   content: '\f058';
   position: absolute;
   right: -15px;
   top:0;
   font-size: 15px;
   font-weight: 700;
   color: #4CAF50;
}
.address{
   display: flex;
   justify-content: center;
   font-size: 12px;
   color: gray;
}

.info_container{
   /* padding-top: 20px;
   display: flex;
   justify-content: space-around;
   flex-direction: row; */
}
.info{
   display: flex;
   flex-direction: column;
}
.info p:first-child{
   margin-bottom: 0;
   font-size: 12px;
   color: gray;
   text-transform: uppercase;
   text-align: center;
}
.info p:last-child{
   margin-bottom: 0;
   font-size: 20px;
   font-weight: 700;
   color: gray;
   text-transform: uppercase;
   text-align: center;
}
.card-footer{
   padding: 0 !important;
   background: #fff !important;
   display: flex;
   border-top: 0 !important;
}
.message{
   display: flex;
   justify-content: center;
   padding: 10px;
   width: 50%;
   text-transform: uppercase;
   background: #f39c12;
   color: #fff;
   cursor: pointer;
   border-bottom-right-radius: calc(0.25rem - 1px);
}

.message::before{
   font-family: "Font Awesome 5 Free";
   content: "\f27a";
   font-weight: 600;
   margin-right: 5px;
}
.view_profile{
   display: flex;
   justify-content: center;
   padding: 10px;
   width: 50%;
   text-transform: uppercase;
   background: #e74c3c;
   color: #fff;
   cursor: pointer;
   border-bottom-left-radius: calc(0.25rem - 1px);
   
}
.view_profile::before{
   font-family: "Font Awesome 5 Free";
   content: "\f406";
   margin-right: 5px;
   font-weight: 600;
}

@media(max-width:420px) {
.profile_pic{
   position: absolute;
   bottom: -50px;
   height: 112px;
   width: 112px;
   padding: 5px;
   border: 2px solid #f39c12;
   border-radius: 50%;
}
.profile_pic img{
   height: 100px;
   width: 100px;
   border-radius: 50%;
}
}



.emp-profile{
padding: 3%;
margin-top: 3%;
margin-bottom: 3%;
border-radius: 0.5rem;
background: #fff;
}
.profile-img{
text-align: center;
}
.profile-img img{
width: 70%;
height: 100%;
}
.profile-img .file {
position: relative;
overflow: hidden;
margin-top: -20%;
width: 70%;
border: none;
border-radius: 0;
font-size: 15px;
background: #212529b8;
}
.profile-img .file input {
position: absolute;
opacity: 0;
right: 0;
top: 0;
}
.profile-head h5{
color: #333;
}
.profile-head h6{
color: #d41e31;
}
.profile-edit-btn{
border: none;
border-radius: 1.5rem;
width: 70%;
padding: 2%;
font-weight: 600;
color: #6c757d;
cursor: pointer;
}
.proile-rating{
font-size: 12px;
color: #818182;
margin-top: 5%;
}
.proile-rating span{
color: #495057;
font-size: 15px;
font-weight: 600;
}
.profile-head .nav-tabs{
margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
font-weight:600;
border: none;
}
.profile-head .nav-tabs .nav-link.active{
border: none;
border-bottom:2px solid #d41e31;
}
.profile-work{
padding: 14%;
margin-top: -15%;
}
.profile-work p{
font-size: 12px;
color: #818182;
font-weight: 600;
margin-top: 10%;
}
.profile-work a{
text-decoration: none;
color: #495057;
font-weight: 600;
font-size: 14px;
}
.profile-work ul{
list-style: none;
}
.profile-tab label{
font-weight: 600;
}
.profile-tab p{
font-weight: 600;
color: #d41e31;
}