<div class="container">
    <div class="card">
        <h5 class="text-white">Hey there, Teacher! Register Yourself</h5>
        <hr class="hr" />
        <a class="text-white text-right" routerLink="/register">Want to Register as a Student ?</a>
        <form id="signUpForm" class="sign-form" [formGroup]="signUpForm">
            <div class="sign-in-htm">
                <div class="container">
                    <div class="card bg-white upload-img text-dark">
                        <div class="row ">
                            <img [src]="imgSrc" width="150px" height="170px" class="default-im"
                                (click)="fileUploader.click()">
                        </div>
                        <div class="row ">
                            <div class="form-group">/":>>>??:/?:"

                                <label for="profileImage">Upload Image</label>
                                <div class="row">
                                    <div class="col">
                                        <input formControlName="profileImage" class="form-control" type="file"
                                            (change)="selectFile($event); showPreview($event)">
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-dark" (click)="uploadFile()">
                                            Upload File
                                        </button>
                                    </div>
                                </div>

                                <div class="text-danger" *ngIf="isValidInput('profileImage')">This
                                    field is required.
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label for="fname" class="label">First Name</label>
                        <input id="fname" type="text" class="form-control" formControlName="fname">
                        <div *ngIf="isValidInput('fname')" class="text-danger">
                            First Name is required</div>
                    </div>
                    <div class="form-group">
                        <label for="lname" class="label">Last Name</label>
                        <input id="lname" type="text" class="form-control" formControlName="lname">
                        <div *ngIf="isValidInput('lname')" class="text-danger">
                            Last Name is required</div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label for="dob" class="label">Date Of Birth</label>
                        <input id="dob" type="text" class="form-control" formControlName="dob">
                        <div *ngIf="isValidInput('dob')" class="text-danger">
                            Date of Birth is required</div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="label">Ph No</label>
                        <input id="phone" type="text" class="form-control" formControlName="phone">
                        <div *ngIf="isValidInput('phone')" class="text-danger">
                            Phone No. is required</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="class" class="label">Class</label>
                        <input id="class" type="text" class="form-control" formControlName="class">
                        <div *ngIf="isValidInput('class')" class="text-danger">
                            Class is required</div>
                    </div>
                    <div class="form-group">
                        <label for="school" class="label">School</label>
                        <input id="school" type="text" class="form-control" formControlName="school">
                        <div *ngIf="isValidInput('school')" class="text-danger">
                            Last Name is required</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="email" class="label">Email</label>
                        <input id="email" type="text" class="form-control" formControlName="email">
                        <div *ngIf="isValidInput('email')" class="text-danger">
                            Email is required</div>
                    </div>
                    <div class="form-group">
                        <label for="pass" class="label">Password</label>
                        <input type="text" class="form-control" formControlName="pass">
                        <div *ngIf="isValidInput('pass')" class="text-danger">
                            Password is required
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="pass" class="label">Tution Name</label>
                        <input type="text" class="form-control" formControlName="tutionname" placeholder="Enter your Tution Name">
                        <div *ngIf="isValidInput('tutionname')" class="text-danger">
                            Tution Name is required
                        </div>
                    </div>
                </div>
                <hr class="hr" />
                <div class="form-group d-flex justify-content-center">
                    <button type="submit" id="button" class="btn btn-sm btn-dark"
                        (click)="onRegister()" [disabled]="signUpForm.invalid">Register</button>
                </div>
                <hr class="hr" />
            </div>
        </form>
    </div>
</div>