* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    font-family: "proxima-nova", sans-serif;
    font-weight: 300;
    color: #444B54;
}

*:focus {
    outline: none;
}

#container-fluid {
    height: 480px;
    margin: 0 auto;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    background: #dadfe1;
    background: -moz-linear-gradient(45deg, #dadfe1 0%, #dadfe1 30%, #dadfe1 100%);
    background: -webkit-linear-gradient(45deg, #dadfe1 0%, #dadfe1 30%, #dadfe1 100%);
    background: linear-gradient(45deg, #dadfe1 0%, #dadfe1 30%, #dadfe1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dadfe1', endColorstr='#dadfe1', GradientType=1);
}

#img-wrap {
    width: 550px;
    height: 100%;
    float: right;
    position: relative;
}

#img-wrap .images {
    width: 60%;
    overflow: hidden;
    /* margin: 270px auto 0 auto; */
}

#img-wrap .images li {
    list-style: none;
    width: 33.33%;
    float: right;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    opacity: 0.7;
}

#img-wrap .images li img {
    width: 80%;
}

#img-wrap .images li:nth-child(4) {
    padding-top: 25px;
}

#img-wrap .images li:hover {
    opacity: 1;
}

#img-wrap .images .big-img {
    width: 75%;
    float: none;
    padding: 0;
    margin-top: 200px;
    margin-left: 20px;
    text-align: center;
    opacity: 1;
    position: absolute;
    /* left: 0; */
}

#img-wrap .images .big-img img {
    -webkit-filter: drop-shadow(0px 7px 3px #dadfe1);
    filter: drop-shadow(0px 7px 3px #dadfe1);
}

.info {
    width: 540px;
    height: 100%;
    float: left;
    padding: 50px 50px 50px 0;
    background-position: 80% 0%;
    background-size: 65%;
    background-color: #dadfe1;
}

.info h1 {
    font-size: 1.5em;
    font-weight: 400;
    float: left;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.info h2 {
    font-size: 1em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 5px 0 20px 0;
    float: left;
    color: #8199A3;
}

.info p {
    clear: both;
    margin-bottom: 7px;
    line-height: 1.5em;
    font-size: 1em;
    letter-spacing: 0.5px;
}

.info #pricing, .info #coloring {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9em;
    color: #D64541;
}

button {
    width: 100%;
    margin-top: 30px;
    border: none;
    background: #d41e31;
    padding: 20px 0;
    font-size: 1.1em;
    line-height: 1.1em;
    letter-spacing: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: #F2F2F2;
    cursor: pointer;
}

button:hover {
    background: #343a40;
}