<div class="row crow">
    <div class="container shadow-lg">
        <div class="card border-0 p-3">
            <h3 class="py-3 shadow-sm text-center">Edit a Document </h3>

            <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="isVideoAdded">
                <strong>Video added successfully</strong>
                <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="isFailed">
                <strong>Failed to add Video</strong>
                <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="editForm" class="edit-form" [formGroup]="editForm">

                <div class="row">
                    <div class="col form-group">
                        <div class="alert alert-info" *ngIf="saved">Added successfully.</div>
                        <label for="id">Note Name</label>
                        <input type="text" class="form-control" formControlName="name">
                        <div *ngIf="isValidInput('name')" class="alert alert-danger">
                            Name is required</div>
                    </div>
                    <div class="col form-group">
                        <label for="name">Subject</label>
                        <input type="text" class="form-control" formControlName="subject">
                        <div *ngIf="isValidInput('subject')" class="alert alert-danger">
                            Subject is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="storeId">Class</label>
                    <input type="text" class="form-control" formControlName="class">
                    <div *ngIf="isValidInput('class')" class="alert alert-danger">
                        Class is required</div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <div>
                            File Path: {{this.notes.notePdfLink}}
                        </div>
                    </div>

                    <div class="col form-group">
                        <label for="storeId">Date Added</label>
                        <input type="date" class="form-control" formControlName="date">
                        <div *ngIf="isValidInput('date')" class="alert alert-danger">
                            Date is required</div>
                    </div>
                </div>



                <div class="col-xs">
                    <button type="submit" id="button" class="btn btn-primary"
                        (click)="onSave()">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>