<div class="crow">
    
        <div class="card bg-danger shadow-md text-center text-white ">
            <div class="h2">Proposals Details</div>
        </div>
        <div style="overflow-x:auto;">
            <table class="table">
                <thead class="bg-dark text-white">
                    <tr>
                        <td scope="col">ID</td>
                        <td scope="col">Name</td>
                        <td scope="col">Class</td>
                        <td scope="col">School</td>
                        <td scope="col">Board</td>
                        <td scope="col">Operation</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white">
                        <td  scope="col"> s</td>
                        <td scope="col"> p</td>
                        <td scope="col"> pp</td>
                        <td scope="col"> 0</td>
                        <td scope="col"> s</td>
                        <td><button class="btn btn-dark">Edit</button>
                            <button class="btn btn-danger">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
