.crow{
    background: linear-gradient(135deg,#d41e31,#343a40);  
    
}
.card{
    padding-top: 10px;
}


.h2{
    font-size: 30px;
}

@media(max-width:420px){
.h2{
    font-size: 20px;
}
.btn{
    width: 50px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    padding: 0;
}
}