.thumb{
   max-width: 160px;
   max-height: 125px;
    min-height: 75px;
    min-width: 110px;
}

.sm{
    width: 120px;
    height: 150px;
    align-items: center;
    align-self: center;
    align-content: center;
    border-radius: 50%;
}

.border-danger{
border-width: 5px;
box-shadow: 20px  black;

}


.bn{padding-top:5px}
.btn{margin-top:5px;
margin-bottom: 5px;}
.card{
    margin-bottom:30px;
}

.container-fluid{
    background: linear-gradient(135deg,#d41e31,#343a40);  
}


.dropdown-dark{
    background-color: black;
    color: white;
    width: 248px;

}


.dropdown-light{
    background-color: #343a40;
    color: white;
    width: 100px;
}

.bun{
    background-color: black;
}

.selCat, .selOpt{
    align-self: center;
    align-content: center;
    align-items: center;
}

.sel{
    margin-left: 10px;
}

