.us_card {
  height: 400px;
  width: 550px;
  margin-top: auto;
  margin-bottom: auto;
  background: #000000;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

}

  .use_card {
      height: 400px;
      width: 450px;
      margin-top: auto;
      margin-bottom: auto;
      background: #ffffff;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;

  }
  .brand_log_container {
      position: absolute;
      height: 170px;
      width: 170px;
      top: 75px;
      border-radius: 50%;
      background: #b92f2f;
      padding: 10px;
      text-align: center;
      box-shadow: 2px 2px 2px grey;
  }
  .brand_log {
      height: 150px;
      width: 150px;
      border-radius: 50%;
     
  }
  .form_container {
      margin-top: 100px;
  }
  .login_btn {
      width: 100%;
      background: #c0392b !important;
      color: white !important;
  }
  .login_btn:focus {
      box-shadow: none !important;
      outline: 0px !important;
  }
  .login_container {
      padding: 0 2rem;
  }
  .input-group-text {
      background: #c0392b !important;
      color: white !important;
      border: 0 !important;
      border-radius: 0.25rem 0 0 0.25rem !important;
  }
  .input_user,
  .input_pass:focus {
      box-shadow: none !important;
      outline: 0px !important;
  }
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
      background-color: #c0392b !important;
  }

  .tuitionName{
      font-weight: bolder;
  }

  

.u_card {
  height: 120px;
  width: 300px;
  margin-top: auto;
  margin-bottom: auto;
  background: -webkit-linear-gradient(left,  #b82a25,#000000);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  

}

  .user_card {
      height: fit-content;
      width: 300px;
      margin-top: auto;
      margin-bottom: auto;
      background: #ffffff;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      

  }
  .brand_logo_container {
      position: absolute;
      height: 170px;
      width: 170px;
      top: -75px;
      border-radius: 50%;
      background: #ffffff;
      padding: 10px;
      text-align: center;
  }
  .brand_logo {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      border: 2px solid white;
  }
  .form_container {
      margin-top: 100px;
  }
  .login_btn {
      width: 100%;
      background: #c0392b !important;
      color: white !important;
  }
  .login_btn:focus {
      box-shadow: none !important;
      outline: 0px !important;
  }
  .login_container {
      padding: 0 2rem;
  }
  .input-group-text {
      background: #c0392b !important;
      color: white !important;
      border: 0 !important;
      border-radius: 0.25rem 0 0 0.25rem !important;
  }
  .input_user,
  .input_pass:focus {
      box-shadow: none !important;
      outline: 0px !important;
  }
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
      background-color: #c0392b !important;
  }


  .smallest{
      width:180px;
      height:130px;
  }

  .c{
      align-items: center;
      align-content: center;
      align-self:center;
      margin-bottom:30px;
  }













/* @media (max-width: 992px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
  justify-content: center;
}

@media (min-width: 992px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(16.6%);
  }
  
  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-16.6%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}






@media (max-width: 992px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
  justify-content: center;
}

@media (min-width: 992px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(16.6%);
  }
  
  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-16.6%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}






 */