<div class="card  p-3 bg-transparent text-white text-center text-uppercase scription shadow-lg border-white">
    About Developers
</div>

<div class="container-fluid bg-white">
    <div class="row d-flex justify-content-center">
        <img src="../../../assets/eclatant/final logo.png" class="ecimage">
    </div>


    <div class="px-5">
        <strong> Eclatant Technologies</strong> has been started by <strong>Full Stack Certified Professionals</strong>.
        We are robust, fastidious,
        systematic and structured. We strongly believe in keeping the deadlines and are creative & logical mindset
        individuals who can help you build your dream project in the best possible ways. We can make you articulate your
        works well. We have spearheaded projects related to Web Designing & Development, Front-end Development and
        Back-end Development,
        Salesforce Consultation, Database Management, Graphics
        Designing, Content Writing & Video Editing.
        <br />
        The project has been made by robust and fastidious Full Stack Certified Developers from Eclatant Technologies
        Team.
        The Developers Team has been led by Satyajit Patil & Shivani Badhwar.

    </div>
    <hr class="hr" />
    <div class="row px-5 d-flex justify-content-start text-danger">
        <h5><u>What we can do for you?</u></h5>
    </div>

    <div class="px-5">
        If you have always dreamed of making your own website or your porfolio or have always wanted to edit your
        photographs for social sites or for flaunting your figures, Eclatant Technologies comes into picture.
        We are providing you the golden
        opportunity to establish yourself as a brand.
        We are well versed in Web Designing & Development, Front-end Development and Back-end Development,
        ,Graphics Designing, Content Writing & Video Editing.

    </div>

    <hr />
    
    <h5 class="px-4 text-danger"><u>Want us to quote for you?</u></h5>
        <div class="container py-2">
            <div class="row d-flex justify-content-center">
                <h5>Have a look:
                 @<a href="http://eclatant.in">Eclatant Technologies</a></h5>
            </div>
            <div class="row d-flex align-content-center">
                <span class="material-icons px-2">
                    phone_android
                </span>
                8923652779
            </div>
            <div class="row d-flex align-content-center">
                <span class="material-icons px-2">
                    contact_mail
                </span>
                eclatanttechnologies@gmail.com
            </div>
        </div>
 
</div>