
.no-outline:focus {
    outline: none;
  }
  input.transparent-input{
    background-color:rgba(0,0,0,0) ;
    border:none ;
 }
 input.transparent-input:focus{
    background-color:rgba(0,0,0,0) ;
    border:none ;
 }